body{
    background-color: $c-accent-3;
    #content{
        background-color: white;
        padding-top: $gutter*2;
        padding-bottom:$gutter*2;
        margin-top: -30px;

        article.post{
            h2{
                font-family: $f-title;
            }
        }
    }
}