body{

    font-family: $f-body;
    #content{
        background-color: white;
        //box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.1);
        div.home-content{
            div.post-cover{
                padding: 5px;
                background-color: lightgray;
                min-height: 700px;
                position: relative;
                overflow: hidden;
            }
            .dark{
                    background-color: rgba(0,0,0,0.3);
            }

            div.post{
                @extend .container;
            }
            div.post, div.small-post{
                z-index: 10;
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                color: white;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
                font-family: $f-title;
                font-size: 32px;
                .hero-container{
                    background-color: rgba(0,0,0,0.9);
                    width: 100%;
                    @media (min-width: 992px) { 
                        width: 50%;
                    }
                    padding: $gutter*3;
                    height: 300px;
                   
                    text-align: center;
                    .inner{
                        padding: $gutter;
                        border-top: 2px solid white;
                        border-bottom: 2px solid white;
                        width: 100%;
                        h1{
                            font-size: 48px;
                        }
                        span.post-category{
                            padding-left: $gutter;
                            padding-right: $gutter;
                            font-size: 24px;
                        }
                    }
                    
                }
            }

            div.small-post{
                top: 0;
                padding: $gutter*2;
                display: flex;
                text-align: center;
                transition: padding 0.2s ease-in-out;
                
                div.inner{
                    padding: $gutter;
                    border-top: 2px solid white;
                    border-bottom: 2px solid white;
                    width: 100%;
                    h1{
                        font-size: 42px;
                    }
                    span.post-category{
                        padding-left: $gutter;
                        padding-right: $gutter;
                    }
                }
                &:hover{
                    padding: $gutter;
                }
                h3{
                    font-size: 32px;
                    border-bottom: 5px $c-accent-2 dotted;
                }
            }

            div.img-cover{
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;               
                transition: transform 0.3s ease-in-out;
                transform: scale(1);
                &:hover{
                    transform: scale(1.03);
                }
            }
            div.top-row{
                display: flex;
                div.col-md-12{
                    width: 100%;
                }
                
            }
            div.container-center{
                @include angle(after,true);
                background-color: white;
            }
            div.general-row{
                @media (min-width: 992px) { 
                    margin-left: $gutter-n*3;
                    margin-right: $gutter-n*3;
                }
                div.col-md-8{
                    padding-left:$gutter*3;
                    padding-right: $gutter*3;
                    div.mid-row{
                        margin-left:$gutter-n*3;
                        margin-right:$gutter-n*3;
                        .col-md-6{
                            padding: $gutter*3;
                        }
                        div.post-cover{
                            min-height: 300px;
                        }
                    }
                    div.mid-row1{
                        padding-top: $gutter*3;
                    }
                    div.mid-row3{
                        padding-bottom: $gutter*3;
                    }
                }
                div.col-md-4{
                    padding-top: $gutter*6;
                    padding-right: $gutter*3;
                    padding-left:$gutter*3;
                    #fb-addin{
                        margin-bottom: $gutter*3;
                    }
                }
            }

            div.text-content{
                padding: $gutter;
                display: flex;
                flex-direction: column;
                h1{
                    font-family: $f-title;
                    &:hover{
                        text-decoration: none;
                    }
                }

            }       
        }
        div.about{
            background-color: $c-accent-3;
            @extend .clearfix;
            @include angle(before);
            div.about-row{
                padding-top: $gutter*3;
                padding-bottom: $gutter*3;
                @media (min-width: 992px) { 
                    margin-left: $gutter-n*3;
                    margin-right: $gutter-n*3;
                }
                display:block;
                .col-lg-4{
                    padding: $gutter*3;
                    .text{
                        font-family: $f-title;
                        text-align: center;
                        .title{
                            font-size: 48px;
                        }
                        .under{
                            font-size: 18px;
                            font-style: italic;
                        }
                        p{
                            padding-top: $gutter;
                            font-size: 18px;
                        }

                    }
                    .dmnfine{
                        font-family: $f-title;
                        font-size: 32px;
                        text-align: center;
                        span.text{
                            margin-left: $gutter;
                            margin-right: $gutter;
                            border-top: 0;
                        }
                        p{
                            padding-top: $gutter;
                            font-size: 18px;
                        }
                        div.logo{
                            background-image: url('img/damnfine.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            min-height: 200px;
                        }
                        a:link,a:visited,a:hover{
                            text-decoration: none;
                            color: $c-accent-4;
                        }
                    }
                }
            }
            
        }
    }
}