body{
    background: rgba(0,0,0,0.5);
    #content{
        background-color: white;
        padding-top: $gutter*2;
        padding-bottom:$gutter*2;
        margin-top: -30px;
        box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.8);

        article.post{
            h2{
                font-family: $f-title;
            }
            img{
                @extend .img-responsive;
            }
        }
        article.single{
             h1{
                font-family: $f-title;
            }
            img{
                @extend .img-responsive;
            }
        }
        div.home-content{
            .bottom-buffer { 
                margin-bottom:30px; 
            }

            div.post-cover{
                padding: 5px;
                background-color: lightgray;
                min-height: 400px;
                position: relative;
                overflow: hidden;
            }
            div.post{
                z-index: 10;
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 15px;
                color: white;
                background: linear-gradient(transparent, rgba(0,0,0,0.9));
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
                font-family: $f-title;
                font-size: 32px;
            }
            div.img-cover{
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                
                transition: transform 0.3s ease-in-out;
                transform: scale(1);
                &:hover{
                    transform: scale(1.03);
                }
            }
            div.top-row{

            }
            div.mid-row{
                div.post-cover{
                    min-height: 200px;
                }
            }
            
        }
    }

}