footer.site-footer{
    @include angle(before,true);
    min-height: 700px;
    background-color: $c-accent-4;
    .container{
        background-image: url('img/logo_wit.svg');
        background-position: center;
        background-repeat: no-repeat;
        min-height: 700px;
    }
}