footer.site-footer{
    @include angle(before,true);
    background-color: $c-accent-4;
    padding: $gutter*3;
    .container{
        background-image: url('img/logo_wit.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
    }
}