header.site-header{
    /* temporary */

    .nav::after, .nav::before {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        height: 0px;
        width: 0px;
        border: 23px solid $c-accent-2;;
        z-index: -1;
    }
 
    /* The left ribbon */
    .nav::before {
        border-left-color: transparent;
        left: -30px;
    }
 
    /* The right ribbon */
    .nav::after {
        border-right-color: transparent;
        right: -30px;
    }
    nav{
        background-color: transparent;
        border-color: transparent;
        background-color: $c-accent-2;
        margin-bottom: 0px;
        border-radius: 0px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        div.container{
            position: relative;
            div.menu-primary-menu-links-container{
                
                @extend .navbar-collapse; 
                @extend .collapse;
                ul{
                    @extend .nav;
                    @extend .navbar-nav;
                    
                    li{
                        a{
                            color:$c-accent-3;
                            transition:.5s;
                            transition:color .1s ease-in;
                            &:hover{
                                background-color: transparent;
                                color:white;
                            }
                            font-family: $f-title;
                            font-size: 18px;

                            text-decoration: none;
                            color: #fff;
                            text-shadow: 1px 2px rgba(0, 0, 0, .2);
                        
                            -webkit-transition: color .3s linear;
                            -moz-transition: color .3s linear;
                                -o-transition: color .3s linear;
                                -ms-transition: color .3s linear;
                                    transition: color .3s linear;
                        }
                    
                    }
                }
            }
            div.social-media{
                position: absolute;
                right: $gutter*2;
                top: 15px;
                ul{
                    li{
                        a{
                            padding: 0;
                            color:$c-accent-3;
                            transition:.5s;
                            transition:color .1s ease-in;
                            font-size: 24px;
                            padding-right: 15px;
                            &:hover{
                                background-color: transparent;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    div.header-content-wrapper{
        @extend .row;
        padding-top: $gutter*2;
        padding-bottom: $gutter*2;
        a.custom-logo-link{
            img.custom-logo{
                /* Center the logo */
                @include center-h;
            }
        }
        .site-description{
            /* Center the description */
            text-align: center;
            font-family: $f-title;
            color: white;
            font-size: 28px;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        }
    }
}

