header.site-header{
    /* temporary */
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,1);

     nav{
        background-color:#0D0B0D;
        border-color: transparent;
        margin-bottom: 0px;
        border-radius: 0px;
        box-shadow: 0 1px 5px rgba(0,0, 0, 0.8);
        border-bottom:white 1px;
        border-bottom-style: solid;
        padding: $gutter;

        button.navbar-toggle{
            .icon-bar{
                background-color: white;
            }
            &:hover{
                background-color: transparent;
            }
            &:focus{
                background-color: transparent;
            }
        }

        ul.sub-nav{
            li a{
                font-family: $f-title !important;
                font-size: 14px;
                transition:color .1s ease-in;
                position: relative;
                text-decoration: none;
                display: inline-block;
                transition: 0.1s ease;
                text-transform: uppercase;
                &:hover{
                    color: white;
                    /*border-bottom: 3px solid white;*/
                }
                &:after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }
                &:hover:after {
                    width: 100%;
                    background: white;
                }
            }
        }
        ul.left-nav{
            li a{     
                @media (min-width: 992px) { 
                    text-align: right;
                }
            }
        }
         ul.right-nav{
            li a{
                @media (min-width: 992px) { 
                    text-align: left;
                }
            }
        }
        div.mobile-logo{
            @media (min-width: 992px) { 
               display: none;
            }
            background-image: url('img/logo_wit.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 75px;
            width: 75px;
            position: absolute;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 10px;
        }
        a.navbar-brand{
            display: none;
            @media (min-width: 992px) { 
                display: block;
            }

            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            text-align: center;
            margin: auto;
            margin-top: -30px;
            
            div.diamond{
                display: block;
                color: white;
                margin: auto;
                width: 200px;
                height: 180px;
                padding: 15px;
                position: relative;
                background-color: white;
                box-shadow: 0 1px 5px rgba(0,0, 0, 0.8);
                &:after{
                    content: "";
                    border-style: solid;
                    border-width: 0;
                    height: 0;
                    width: 0;
                    position: absolute;
                    border-color: white transparent;
                    bottom: -25px;
                    border-width: 25px 100px 0 100px;
                    left: 0;
                }
                img.hangry-logo{
                    width: 175px;
                    height: 145px;
                }
            }
        }

        .navbar-toggle {
            z-index:3;
        }
    }
    .subheader{
         width: 100%;
         position: fixed;
         z-index:11;
         background-color:rgba(0,0,0,0.4);
         padding: $gutter;
         @extend .clearfix;
         .left{
             float: left;
             ul.social-media{
                 padding: 0;
                 margin-bottom: 0;
                 li{
                     list-style: none;
                     float: left;
                     a{
                            padding: 0;
                            color:rgba(255,255,255,1);
                            transition:.5s;
                            transition:color .1s ease-in;
                            font-size: 24px;
                            line-height: 24px;
                            padding-right: 15px;
                            &:hover{
                                background-color: transparent;
                                color: white;
                            }
                        }
                 }
             }
         }
         .right{
             float: right;
             label{
                 display: none;
             }
             input[type=text]{
                border: none;
                background: transparent;
                border-bottom: white 2px solid;
                color:white;
                &:focus{
                    border: 2px solid white;
                    outline:0px;
                }
             }
             input[type=submit]{
                 color: black;
                 background-color: white;
                 font-family: $f-title;
                 border: 3px solid white;
                 text-transform: uppercase;
                 outline:0px;
                 &:active{
                    color:white;
                    background-color:black;
                    border: 3px solid black;
                    outline:0px;
                 }
             }

         }
    }

    div.header-content-wrapper{
        @extend .row;
        padding-top: $gutter*2;
        padding-bottom: $gutter*2;
        a.custom-logo-link{
            img.custom-logo{
                /* Center the logo */
                @include center-h;
            }
        }
        .site-description{
            /* Center the description */
            text-align: center;
            font-family: $f-title;
            color: white;
            font-size: 28px;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        }
    }
}

